:root {
  --animate-delay: 0.5s;
  --color-bg: #ECEFF4;
  --color-bg-second: #E5E9F0;
  --color-bg-progress: #D8DEE9;
  --color-font: #2E3440;
  --color-accent: #2969ff;
  --color-font-footer: #ECEFF4;
}

[data-theme="dark"] {
  --color-bg: #2E3440;
  --color-bg-second: #3B4252;
  --color-bg-progress: #4C566A;
  --color-font: #ECEFF4;
  --color-accent: #ff4451;
  --color-font-footer: #2E3440;
}

.jumbotron img {
    width: 250px;
    border: 5px solid var(--color-accent);
}

.jumbotron {
  height: 400px;
  background-color: var(--color-bg-second);
}

hr {
  width: 250px;
  border-top: 3px solid var(--color-accent);
}

section {
    min-height: 500px;
}

.progress-bar {
    -webkit-transition: none !important;
    transition: none !important;
}

.navbar {
  background-color: var(--color-bg);
}

body {
  background-color: var(--color-bg);
}

.card {
  background-color: var(--color-bg-second);
}

.progress {
  background-color: var(--color-bg-progress);
}

.navbar-toggler {
  background-color: var(--color-bg-second);
}

p {
  color: var(--color-font);
}

h1 {
  color: var(--color-accent);
}

h2 {
  color: var(--color-accent);
}

h3 {
  color: var(--color-accent);
}

h5 {
  color: var(--color-accent);
}

h6 {
  color: var(--color-accent);
}

.font-footer {
  color: var(--color-font-footer);
}

.page-footer{
  background-color: var(--color-accent);
}

.html {
  background-color: #e34c26;
}

.js {
  background-color: #f1e05a;
}

.css {
  background-color: #563d7c;
}

.cplus{
  background-color: #f34b7d;
}

.java {
  background-color: #b07219;
}

.c {
  background-color: #555555;
}

.python {
  background-color: #3572A5;
}

.bash {
  background-color: #89e051;
}